In [ ]:
import pandas as pd

# **Caesarian data classification**

Загрузка таблицы

In [ ]:
cl_df = pd.read_csv('../data/caesarian/caesarian.csv', sep=',')
cl_df

    Age  Delivery_number  ...  Heart_Problem  Caesarian
0    22                1  ...              0          0
1    26                2  ...              0          1
2    26                2  ...              0          0
3    28                1  ...              0          0
4    22                2  ...              0          1
..  ...              ...  ...            ...        ...
75   27                2  ...              0          0
76   33                4  ...              0          1
77   29                2  ...              0          1
78   25                1  ...              0          1
79   24                2  ...              0          0

[80 rows x 6 columns]

Получение информации

In [ ]:
cl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                80 non-null     int64
 1   Delivery_number    80 non-null     int64
 2   Delivery_time      80 non-null     int64
 3   Blood_of_Pressure  80 non-null     int64
 4   Heart_Problem      80 non-null     int64
 5   Caesarian          80 non-null     int64
dtypes: int64(6)
memory usage: 3.9 KB

In [ ]:
cl_df.isnull().sum()

Age                  0
Delivery_number      0
Delivery_time        0
Blood_of_Pressure    0
Heart_Problem        0
Caesarian            0
dtype: int64

*Предобработка*

In [ ]:
cl_df = pd.get_dummies(cl_df,prefix=['Delivery_number'], columns=['Delivery_number'])
cl_df = pd.get_dummies(cl_df,prefix=['Blood_of_Pressure'], columns=['Blood_of_Pressure'])
cl_df = pd.get_dummies(cl_df,prefix=['Delivery_time'], columns=['Delivery_time'])
cl_df

    Age  Heart_Problem  ...  Delivery_time_1  Delivery_time_2
0    22              0  ...                0                0
1    26              0  ...                0                0
2    26              0  ...                1                0
3    28              0  ...                0                0
4    22              0  ...                0                0
..  ...            ...  ...              ...              ...
75   27              0  ...                1                0
76   33              0  ...                0                0
77   29              0  ...                1                0
78   25              0  ...                0                1
79   24              0  ...                0                1

[80 rows x 13 columns]

Проверка оставшихся столбцов на бинарность

In [ ]:
cl_df['Heart_Problem'].unique()

array([0, 1])

In [ ]:
cl_df['Caesarian'].unique()

array([0, 1])

Сохранение в csv

In [ ]:
cl_df.to_csv('../data/caesarian/caesarian_preprocessed.csv')

# ***Toxicity fish regression***

Загрузка таблицы

In [ ]:
re_df = pd.read_csv('../data/qsar/qsar_fish_toxicity.csv', sep=';')
re_df

      CIC0  SM1_Dz  GATS1i  NdsCH  NdssC  MLOGP  Quantitative_response
0    3.260   0.829   1.676      0      1  1.453                  3.770
1    2.189   0.580   0.863      0      0  1.348                  3.115
2    2.125   0.638   0.831      0      0  1.348                  3.531
3    3.027   0.331   1.472      1      0  1.807                  3.510
4    2.094   0.827   0.860      0      0  1.886                  5.390
..     ...     ...     ...    ...    ...    ...                    ...
903  2.801   0.728   2.226      0      2  0.736                  3.109
904  3.652   0.872   0.867      2      3  3.983                  4.040
905  3.763   0.916   0.878      0      6  2.918                  4.818
906  2.831   1.393   1.077      0      1  0.906                  5.317
907  4.057   1.032   1.183      1      3  4.754                  8.201

[908 rows x 7 columns]

Информация о таблице

In [ ]:
re_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908 entries, 0 to 907
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CIC0                   908 non-null    float64
 1   SM1_Dz                 908 non-null    float64
 2   GATS1i                 908 non-null    float64
 3   NdsCH                  908 non-null    int64
 4   NdssC                  908 non-null    int64
 5   MLOGP                  908 non-null    float64
 6   Quantitative_response  908 non-null    float64
dtypes: float64(5), int64(2)
memory usage: 49.8 KB

In [ ]:
re_df.isnull().sum()

CIC0                     0
SM1_Dz                   0
GATS1i                   0
NdsCH                    0
NdssC                    0
MLOGP                    0
Quantitative_response    0
dtype: int64

Проверка столбцов типа int на бинарность

In [ ]:
re_df['NdsCH'].unique()

array([0, 1, 3, 2, 4])

In [ ]:
re_df['NdssC'].unique()

array([1, 0, 3, 2, 4, 5, 6])

Предобработка

In [ ]:
re_df = pd.get_dummies(re_df,prefix=['NdsCH'], columns=['NdsCH'])
re_df = pd.get_dummies(re_df,prefix=['NdssC'], columns=['NdssC'])
re_df

      CIC0  SM1_Dz  GATS1i  MLOGP  ...  NdssC_3  NdssC_4  NdssC_5  NdssC_6
0    3.260   0.829   1.676  1.453  ...        0        0        0        0
1    2.189   0.580   0.863  1.348  ...        0        0        0        0
2    2.125   0.638   0.831  1.348  ...        0        0        0        0
3    3.027   0.331   1.472  1.807  ...        0        0        0        0
4    2.094   0.827   0.860  1.886  ...        0        0        0        0
..     ...     ...     ...    ...  ...      ...      ...      ...      ...
903  2.801   0.728   2.226  0.736  ...        0        0        0        0
904  3.652   0.872   0.867  3.983  ...        1        0        0        0
905  3.763   0.916   0.878  2.918  ...        0        0        0        1
906  2.831   1.393   1.077  0.906  ...        0        0        0        0
907  4.057   1.032   1.183  4.754  ...        1        0        0        0

[908 rows x 17 columns]

Сохранение в csv

In [ ]:
re_df.to_csv('../data/qsar/qsar_fish_toxicity_preprocessed.csv')